{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="rgb(0,0,0)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "css/catalog.css" %}">
    <link rel="stylesheet" href="{% static "css/color.css" %}">
    <title>Catalogo</title>
</head>
<body>
  <div class="background"></div>
  <!--  particles  -->
	<div id="particles-js"></div>
	<!-- //particles -->
    <header class="mdc-top-app-bar mdc-elevation--z3">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-top-app-bar__navigation-icon material-icons">menu</button>
            <span class="mdc-top-app-bar__title">Catalogo</span>
          </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Usuario" id="usericon" alt="Usuario">account_circle</a>
          </section>
        </div>
      </header>
      
      <aside id="maindrawer" class="mdc-drawer mdc-drawer--dismissible mdc-elevation--z1">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Catalogo</h3>
            <h6 class="mdc-drawer__subtitle">Elementos</h6>
        </div>
    
      <div class="mdc-drawer__content">
            <hr class="mdc-list-divider">
              
              <img src="{{foto}}" class="icon" id="imageuser" alt="">
            <hr class="mdc-list-divider">
            
        <nav class="mdc-list">
            <a class="mdc-list-item demo-drawer-list-item" href="#">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">android</i>Menu element
            </a>

            <hr class="mdc-list-divider">

            <a class="mdc-list-item demo-drawer-list-item" href="#" onclick="deactivate()">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Desactivar Cuenta
            </a>

            <a class="mdc-list-item demo-drawer-list-item" href="#" onclick="settings()">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Configuración
            </a>
        
        </nav>
        
      </div>
    </aside>

    <aside id="messagedrawer" class="mdc-drawer mdc-drawer--modal" dir="rtl">
      <div class="mdc-drawer__title">
        Mensajes
      </div>
            <div class="mdc-drawer__content">
              
              <nav class="mdc-list">
                  <hr class="mdc-list-divider">
                <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                  <span class="mdc-list-item__text">Inbox</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                  <span class="mdc-list-item__text">Outgoing</span>
                </a>
                <a class="mdc-list-item" href="#">
                  <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                  <span class="mdc-list-item__text">Drafts</span>
                </a>
              </nav>
            </div>
    </aside>
    <div class="mdc-drawer-scrim"></div> <!-- area oscura para el modal-->

    <aside id="userdrawer" class="mdc-drawer mdc-drawer--modal" dir="rtl">
        <div class="mdc-drawer__title">
          User
        </div>
              <div class="mdc-drawer__content">
                
                <nav class="mdc-list">
                    <hr class="mdc-list-divider">
                  <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
                    <span class="mdc-list-item__text">Inbox</span>
                  </a>
                  <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                    <span class="mdc-list-item__text">Outgoing</span>
                  </a>
                  <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">Drafts</span>
                  </a>
                </nav>
              </div>
      </aside>
      


    <div class="mdc-dialog mdc-dialog--scrollable"
     id="settingsmodal"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
        -->Modificar datos<!--
    --></h2>
        <div class="mdc-dialog__content" id="my-dialog-content">
            <form id="formaedit">
                {% csrf_token %}
              
                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="rut" id="rut" disabled>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">rut</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="nombre" id="nombre">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">nombre</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="apellido" id="apellido">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">apellido</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text" class="mdc-text-field__input" name="telefono" id="telefono">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">telefono</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                  <input type="text"  class="mdc-text-field__input" name="email" id="email">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">email</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>

                <div class="mdc-text-field mdc-text-field--outlined">
                    <input type="password" class="mdc-text-field__input" name="password" id="password">
                    <div class="mdc-notched-outline">
                      <div class="mdc-notched-outline__leading"></div>
                      <div class="mdc-notched-outline__notch">
                        <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">contraseña</label>
                      </div>
                      <div class="mdc-notched-outline__trailing"></div>
                    </div>
                  </div>

                  <div class="mdc-text-field mdc-text-field--outlined">
                    <input type="file" class="mdc-text-field__input" name="foto" id="foto">
                    <div class="mdc-notched-outline">
                      <div class="mdc-notched-outline__leading"></div>
                      <div class="mdc-notched-outline__notch">
                        <label for="tf-outlined" class="mdc-floating-label mdc-floating-label--float-above">imagen de perfil</label>
                      </div>
                      <div class="mdc-notched-outline__trailing"></div>
                    </div>
                  </div>

            </form>
        </div>
        <footer class="mdc-dialog__actions">
            <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <span class="mdc-button__label">cancelar</span>
            </button>
            <button type="button" onclick="changedatarelator()" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
            <span class="mdc-button__label">confirmar</span>
            </button>
        </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div><!-- area oscura para el modal-->
    </div>


    <button class="mdc-fab app-fab--absolute"  aria-label="Favorite">
        <span class="mdc-fab__icon material-icons">chat</span>
    </button>

    <body onload="startTime()">

    <div id="txt"></div>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static "js/particles.min.js" %}"></script>
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/catalog.js" %}"></script>
</body>
</html>