{% load static %}
<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Bienvenidos</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="{% static "css/stylelogin.css" %}" rel='stylesheet' type='text/css' />
	<!-- online fonts-->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<!--  particles  -->
	<div id="particles-js"></div>
	<!-- //particles -->
	<div class="aux">
		<div class="w3ls-pos">
			<h1>Bienvenidos</h1>
			<div class="w3ls-login box">
				<!-- form starts here -->
				<form action="{% url "iniciar" %}"" method="post">
						{% csrf_token %}
					<div class="agile-field-txt">
						<input type="text" name="user" placeholder="user rut" required="" />
					</div>
					<div class="agile-field-txt">
						<input type="password" name="password" placeholder="Contraseña" required="" id="myInput" />
						<div class="agile_label">
							<input id="check3" name="check3" type="checkbox" value="show password">
							<label class="check" for="check3">Recordarme</label>
						</div>
					</div>
					<div class="w3ls-bot">
						<input type="submit" value="Ingresar">
					</div>
					<div class="w3ls-bot">
						<a href="/login/registro">
							<input  type="button" value="Crear cuenta">
						</a>
							
						</div>
				</form>
				
			</div>
			<!-- //form ends here -->
			<!--copyright-->
			<div class="copy-wthree">
			
			</div>
			<!--//copyright-->
		</div>
	</div>
	
	<!-- scripts required  for particle effect -->
	<script src="{% static "js/particles.min.js" %}"></script>
	<script src="{% static "js/login.js" %}"></script>
	<!-- //scripts required for particle effect -->
</body>

</html>