{% load static %}
<!DOCTYPE HTML>
<html lang="es">

<head>
	<title>Bienvenidos</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- Stylesheets -->
	<link href="{% static "css/stylelogin.css" %}" rel='stylesheet' type='text/css' />
	<!-- online fonts-->
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i" rel="stylesheet">
</head>

<body>
	<!--  particles  -->
	<div id="particles-js"></div>
	<!-- //particles -->
	<div class="w3ls-pos">
		<h1>Registro de relatores </h1>
		<div class="w3ls-login box">
			<!-- form starts here -->
			<form action="{% url 'crearRelator' %}" method="post" autocomplete="off">
					{% csrf_token %}
				<div class="agile-field-txt">
					<input type="text" name="rut" placeholder="Rut" id="rut" maxlength="11" required oninput="checkRut(this)" />
				</div>
				<div class="agile-field-txt">
						<input type="text" name="nombre" placeholder="Nombre" required />
				</div>
				<div class="agile-field-txt">
						<input type="text" name="apellido" placeholder="Apellido" required />
				</div>
				<div class="agile-field-txt">
						<input type="text" id="telefono" class="input-number" maxlength="11" minlength="11" name="telefono" placeholder="Telefono" required />
				</div>
				<div class="agile-field-txt">
					<input type="email" name="email" placeholder="Email" required />
				</div>
				<div class="agile-field-txt">
					<input type="password" name="contrasenia" placeholder="Contraseña" required="" id="myInput" />
				</div>
				<div class="w3ls-bot">
					<input type="submit" value="Registrarme">
				</div>
			</form>
		</div>
		<!-- //form ends here -->
		<!--copyright-->
		<div class="copy-wthree">
		
		</div>
		<!--//copyright-->
	</div>
	<!-- scripts required  for particle effect -->

	<script src="{% static "js/jquery-3.3.1.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
	<script src="{% static "js/particles.min.js" %}"></script>
	<script src="{% static "js/login.js" %}"></script>}
	<script src="{% static "js/validarRUT.js" %}"></script>
	
	<!-- //scripts required for particle effect -->
</body>

</html>