.background{
	position: absolute;
	top: 0;
	left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.8;
		background: url(../images/banner.jpg)no-repeat center;
    background-size: cover;
		background-attachment: fixed;
		filter: blur(8px);
    -webkit-filter: blur(8px);
		z-index: -999;
}
.mdc-text-field{
	margin: 10px;
}
#maindrawer{
	top: 64px;
	height: calc(100% - 64px);
}
#messagedrawer{
    top: 0;
    height: 100%;
    width: 600px;
}
#userdrawer{
	top: 64px;
	height: 200px;
	width: 200px;
}
@media (max-width: 599px){
	#maindrawer{
		top: 56px;
		height: calc(100% - 56px);
	}
	#userdrawer{
		top: 56px;
	}
}
.mdc-top-app-bar{
	top: 0px;
	left: 0px;
}
.app-fab--absolute {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	}

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -999;
}
.particles-js-canvas-el{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
		z-index: -999;
}

#txt{
	position: absolute;
	font-size: 20px;
	color: aliceblue;
	font-family: 'Open Sans', sans-serif;
	bottom: 1rem;
	right: 6rem;
}

#imageuser{
	height: 100px;
	width: 100%;
	object-fit: contain;
	display: inline-block;
	margin: auto;
}
  
  @media(min-width: 1024px) {
	 .app-fab--absolute {
	  bottom: 1.5rem;
		right: 1.5rem;
	}
	}
